.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #b30c0c;
  transition: background 0.3s ease;
}

.btn-ghost {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.8s ease;
}
